ul {
  list-style-type: none;
  margin: 10px;
}

.caret {
  cursor: pointer;
  font-size: 1.3rem;
}

.caret::before {
  margin: 5px;
  content: "\1F4C1";
  color: rgba(241, 241, 66, 0.774);
}

.caret-down::before {
  margin: 5px;
  content: "\1F4C2";
  color: rgba(241, 241, 66, 0.774);
}

.file {
  margin: 3px;
  font-size: 1.1rem;
}
.file::before {
  margin: 5px;
  content: "\1F4C4";
  color: rgb(106, 197, 233);
}

.hide {
  display: none;
}

.active {
  display: block;
}

